*,
*::before,
*::after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure {
	padding: 0;
	margin: 0;
}

body,
a,
li,
ul,
p {
	padding: 0;
	margin: 0;
}

img {
	width: 100%;
	display: block;
	height: auto;
}

body {
	font-family: var(--ff-primary);
	height: auto;
	position: relative;
	padding: toEm(32px) 0 toEm(100px);
}

ul,
li {
	list-style: none;
}

h1 {
	text-align: center;
	color: var(--dark-grey);
	font-weight: 700;
	font-family: var(--ff-heading);
	font-size: toRem(36px);
	margin-bottom: toEm(58px, 36px);
}

footer {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
}
